parameters:
    level: 7
    paths:
        - includes
        - readmewp.php
        - uninstall.php
    excludePaths:
        - vendor
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    scanFiles:
        - includes/class-post-type.php
    phpVersion: 80100
    # WordPress constants defined at runtime
    dynamicConstantNames:
        - WP_DEBUG
        - ABSPATH
        - READMEWP_URL
        - READMEWP_VERSION
        - READMEWP_DIR
